name: CI
on: [pull_request]
jobs:
  dotenv-linter:
    name: runner / dotenv-linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dotenv-linter
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          dotenv_linter_flags: "./test/data -s SpaceCharacter DuplicatedKey"

  dotenv-linter-platform:
    name: runner / dotenv-linter-platform
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: dotenv-linter (platform)
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          tool_name: dotenv-linter-${{ matrix.platform }}
          dotenv_linter_flags: "./test/data -s LeadingCharacter DuplicatedKey"

  dotenv-linter-github-pr-check:
    name: runner / dotenv-linter (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dotenv-linter w/ github-pr-check
        uses: ./
        with:
          reporter: github-pr-check
          tool_name: dotenv-linter-github-pr-check
          github_token: ${{ secrets.github_token }}
          dotenv_linter_flags: "./test/data -s SpaceCharacter DuplicatedKey"

  dotenv-linter-github-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / dotenv-linter (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dotenv-linter w/ github-pr-review
        uses: ./
        with:
          reporter: github-pr-review
          tool_name: dotenv-linter-github-pr-review
          github_token: ${{ secrets.github_token }}
          dotenv_linter_flags: ./test/data

  dotenv-linter-github-code-suggestions:
    if: github.event_name == 'pull_request'
    name: runner / dotenv-linter (github-code-suggestions)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dotenv-linter w/ github-code-suggestions
        uses: ./
        with:
          reporter: github-code-suggestions
          tool_name: dotenv-linter-github-code-suggestions
          github_token: ${{ secrets.github_token }}
          dotenv_linter_flags: "./test/data -s UnorderedKey"
